:root {
  font-size: 95%;
}

body {
	font-family: "Roboto", sans-serif;
	color: #6C7D88;
}

h1 {
	font-size: 1.8rem;
	line-height: 1.4;
	font-weight: 700;
	color: #4D4D4D;
}

h2 {
	font-size: 1.5rem;
	line-height: 1.4;
	font-weight: 700;
	color: #4D4D4D;
}

h3 {
	font-size: 1.2rem;
	line-height: 1.4;
	font-weight: 700;
	color: #4D4D4D;
}

p {
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.8rem;
}

li {
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.7rem;
}

.highlight {
	font-size: 1.2rem;
	font-weight: 500;
}

.quote {
	font-size: 1.5rem;
	font-style: italic;
}

.footnote {
	font-size: 0.8rem;
}